Написать бэкенд для сервиса Календарь.

Сервис должен иметь HTTP API, позволяющее:
CS-1 * создать пользователя;
CS-1 * создать встречу в календаре пользователя со списком приглашенных пользователей;
CS-3 * получить детали встречи;
CS-4 * принять или отклонить приглашение другого пользователя;
CS-5 * найти все встречи пользователя для заданного промежутка времени;
CS-6 * для заданного списка пользователей и минимальной продолжительности встречи, найти ближайшей интервал времени, в котором все эти пользователи свободны.
CS-7 * У встреч в календаре должна быть возможна настройка повторов. В повторах нужно поддержать все возможности, доступные в Google-календаре, кроме Сustom.

Будет плюсом, если вы также реализуете одну или несколько из следующих функций:
* аутентификация пользователя;
* поддержка видимости встреч (если встреча приватная, другие пользователи могут получить только информацию о занятости пользователя, но не детали встречи);
* настройки часового пояса пользователя и его рабочего времени, использование этих настроек для поиска интервала времени, в котором участники свободны;
* настройки нотификации пользователя перед встречей (саму нотификацию достаточно реализовать записью в лог);
* поддержка Custom повторов, как в Google-календаре;
* другие функции, которые кажутся вам полезными в календаре.